@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
    :focus {
      outline: 0;
      box-shadow: theme('colors.blue')
    }
  }

  body {
    @apply bg-base-background text-base-text;
    -webkit-font-smoothing: antialiased;
    min-height: 100vh;
  }

  body, input, textarea, button {
    font: 400 1rem 'Nunito', sans-serif;
    line-height: 1.6;
  }

  .paragraph-ellipsis {
    overflow: hidden; 
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
  }
}
